# first IP listed is the primary; writes will go only to primary
ips = ["127.0.0.1"]
port = 6379
secure = false

# The following properties are used with Azure Managed Garnet
# scope = "some-scope"
# username = "someuser"
