# Copyright (c) Microsoft Corporation.
# Licensed under the MIT license.
[package]
name = "diskann-inmem"
version.workspace = true
authors.workspace = true
description.workspace = true
documentation.workspace = true
license.workspace = true
edition = "2024"
# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
bincode.workspace = true
bytemuck = { workspace = true, features = ["must_cast"]}
byteorder.workspace = true
half = { workspace = true, features = ["bytemuck", "num-traits"] }
hashbrown.workspace = true
num-traits.workspace = true
once_cell.workspace = true
rand.workspace = true
rayon.workspace = true
serde = { workspace = true, features = ["derive"] }
thiserror.workspace = true
diskann-platform = { workspace = true }
diskann-vector = { workspace = true }
rand_distr.workspace = true
cfg-if.workspace = true
diskann-wide = { workspace = true }
arc-swap.workspace = true
tracing.workspace = true
diskann-linalg = { workspace = true }
vfs = { workspace = true }
diskann = { workspace = true }
diskann-utils = { workspace = true }
diskann-quantization = { workspace = true, features = ["rayon"] }
tokio = { workspace = true, features = ["rt", "rt-multi-thread"] }
anyhow.workspace = true
prost = "0.14.1"
futures-util.workspace = true
serde_json.workspace = true
diskann-providers = { workspace = true }

[dev-dependencies]
approx.workspace = true
tempfile.workspace = true
rstest.workspace = true
serde_json.workspace = true
tokio = { workspace = true, features = ["full"] }
proptest.workspace = true

[package.metadata.docs.rs]
default-target = "x86_64-pc-windows-msvc"
targets = [
    "x86_64-unknown-linux-gnu",
    "aarch64-pc-windows-msvc",
    "i686-pc-windows-msvc",
    "x86_64-pc-windows-msvc",
]

[features]
default = []
experimental_diversity_search = ["diskann/experimental_diversity_search"]

# Some 'cfg's in the source tree will be flagged by `cargo clippy -j 2 --workspace --no-deps --all-targets -- -D warnings`
[lints.rust]
unexpected_cfgs = { level = "warn", check-cfg = ['cfg(coverage)'] }

[lints.clippy]
# Commenting out for now. It would give warnings.
# undocumented_unsafe_blocks = "warn"
uninlined_format_args = "allow"
