# Copyright (c) Microsoft Corporation.
# Licensed under the MIT license.
[package]
name = "diskann-inmem"
version.workspace = true
authors.workspace = true
description = "In-memory data providers for DiskANN async index build and search"
documentation.workspace = true
license.workspace = true
edition = "2024"

[dependencies]
diskann = { workspace = true }
diskann-providers = { workspace = true }
diskann-quantization = { workspace = true, features = ["rayon"] }
diskann-utils = { workspace = true }
diskann-vector = { workspace = true }
thiserror.workspace = true

[dev-dependencies]
tokio = { workspace = true, features = ["full"] }
rstest.workspace = true

# Some 'cfg's in the source tree will be flagged by `cargo clippy -j 2 --workspace --no-deps --all-targets -- -D warnings`
[lints.rust]
unexpected_cfgs = { level = "warn", check-cfg = ['cfg(coverage)'] }

[lints.clippy]
uninlined_format_args = "allow"
